<link rel="stylesheet" type="text/css" href="/stylesheets/brothers/brotherClass.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/brothers/familyTree.css">
<script type="text/javascript">
  var brotherClassViewVars = {
    classYear: <%- classYear %>
  }
</script>
<script type="text/javascript" src="/javascripts/controllers/brothers/BrotherClassController.js"></script>

<div ng-controller="brotherClassController" class="brotherClassContainer">

  <div class="pageContentContainer brotherClassContentContainer">
    <div class="pageContent brotherClassContent">
      <%- partial('brothers/partials/brothersHeader') %>
      <div class="container pageMainContentContainer brotherInfoContainer">
        <table height="300">
          <tr>
            <td class="imgCol">
              <img ng-if="!viewModel.currentBrother"
                   ng-src="http://www.barnardlevit.co.uk/themes/barnardlevit/img/staff-pic-placeholder.gif"
                   width="300"
                   height="300">
              <img ng-if="viewModel.currentBrother"
                   ng-src="{{viewModel.currentBrother.jumboSrc}}"
                   class="imgShadow"
                   width="300"
                   height="300">
            </td>
            <td class="nameCol">
              <legend class="nameLegend">
                <h1 ng-if="!viewModel.currentBrother">
                  Click on a brother below!
                </h1>
                <h1 ng-bind-html="viewModel.currentBrotherName"></h1>
              </legend>
              <a href="#familyTreeOuterContainer" ng-if="viewModel.currentBrother" class="familyTreeLink">
                <i>
                  View <span ng-bind="viewModel.currentBrotherFirstName"></span>'s family tree
                </i>
              </a>
            </td>
          </tr>
        </table>
        <div class="container brotherInfo">
          <h4 ng-repeat="info in viewModel.currentBrother.info">
            <b ng-bind="info.infoName"></b>: 
            <span ng-bind-html="info.info"></span>
          </h4>
        </div>

        <div ng-show="viewModel.currentBrother" id="familyTreeOuterContainer">
          <div class="familyTreeSpacer"></div>
          <h2>  
            <ts text="Family Tree"></ts>
          </h2>

          <div class="familyTreeContainer">
            <span ng-show="viewModel.currentBrother.familyTree == 0">
              <%- partial('brothers/partials/familyTrees/familyTree0') %>
            </span>
            <span ng-show="viewModel.currentBrother.familyTree == 1">
              <%- partial('brothers/partials/familyTrees/familyTree1') %>
            </span>
            <span ng-show="viewModel.currentBrother.familyTree == 2">
              <%- partial('brothers/partials/familyTrees/familyTree2') %>
            </span>
            <span ng-show="viewModel.currentBrother.familyTree == 3">
              <%- partial('brothers/partials/familyTrees/familyTree3') %>
            </span>
            <span ng-show="viewModel.currentBrother.familyTree == 4">
              <%- partial('brothers/partials/familyTrees/familyTree4') %>
            </span>
            <span ng-show="viewModel.currentBrother.familyTree == 5">
              <%- partial('brothers/partials/familyTrees/familyTree5') %>
            </span>
            <span ng-show="viewModel.currentBrother.familyTree == 6">
              <%- partial('brothers/partials/familyTrees/familyTree6') %>
            </span>
          </div>

        </div>

        <div class="bottomSpace"></div>
      </div>
    </div>
  </div>

  <div id="brotherSelector">
    <div ng-repeat="brother in viewModel.brotherNames" 
         ng-click="viewModel.setCurrentBrother(brother)"
         class="brotherIconWrapper"
         brother-icon-directive>
      <div id="brotherIcon{{$index}}" 
           class="imgShadow brotherIcon">
        <img ng-src="{{viewModel.brothers[brother].iconSrc}}"
             class="brotherIconImg">
      </div>
    </div>
  </div>

  <!-- Caching brother images -->
  <img ng-repeat="brother in viewModel.brothers"
       ng-src="{{brother.jumboSrc}}"
       style="display: none;">

</div>